*.xcodeproj
*.xcworkspace
DerivedData/
build/
.DS_Store
xcuserdata/
*.xcuserstate
config/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
*.ipa
*.dSYM.zip
*.mobileprovision
*.p8
*.p12
